.input {
    padding: 8px 3px;
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(138, 156, 137);
    border-radius: 4px;
}
.label {
    padding: 10px 10px 10px 0px;
    width: 150px;
    display: block;
}
